/*GENEAL STRUCTURE*/
html, body, .initial-content{
	height: 100%;
}
.page__footer{
	display:none;
}
.fill { 
	min-height: 100%;
	height: 100%;
}
.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.box .content {
	flex: 1 1 auto;
}
.box .footer {
	/*flex: 0 1 150px;*/
	width: 100%;
	background-color: #2A3A4D;
	color: #92E9FF;
	font-size: 17px;
}
#col-top-line{
	border-bottom: 1px solid white;
	padding: 10px 0px 0px 0px;
}
.popover {
	max-width: 500px !important;
	width: 500px; 
}

/**/
#stattitle{
	color:white;
	font-size: 25px;
}
#chCount, #obsCount,#spCount{
	line-height: 32px;
	font-size: 35px;
	font-weight: bold;
	padding: 10px;
}
.count{
	padding: 20px;
	text-align: center;
}
#count-ch, #count-sp{
	color:inherit;
	text-decoration:none;
}
#count-ch:hover, #count-sp:hover{
	color:#1a80b6;
}




/* PROGRESS BAR*/
.progress{
	float: inherit !important; 
	width: inherit !important;
	background-color: #eceeef !important;
} 

.progress-bar{
	background-color: #0275d8 !important;
	margin-bottom: inherit !important;
	height: 30px !important;
}
#MyPg{
	margin-top: 40px;
}
#MyPgBar{
	width :0%;
	line-height: 30px;
	font-size: initial;
}

/*ICON*/
.marker-cluster{
	margin-left: -20px;
	margin-top: -20px;	
	width: 40px; 
	height: 40px;
}

.dnwlo-btn:visited{
	color:white;
}
.modal{
	margin-left: initial;
	margin-top: initial;
	background: initial;
	border: none;
}
.leaflet-control-layers-selector {
    display: initial;
    box-shadow:none;
}
.leaflet-container {
    font: inherit;
}
.icon-bottom{
	vertical-align: initial;
}